/*modif générale de la page*/
body {
    margin: 0;
    padding: 0;
    }
.bloc_page {
    width: 95%;
    margin: auto;
}

/*police personnalisée pour l'ensemble de la page*/

body {
    font-family: 'Raleway', sans-serif;
}

/*en-tete*/

.logo {
    margin-top: 30px;
}
.en_tete {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 0px;
}
nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: gray;
    margin: 0 25px 0 25px;
}
nav li {
    padding-top: 60px;
}
nav li:hover {
    border-top: 2px solid #0065FC;
}
.inscription a {
    color: #0065FC;
    font-weight: bold;
}
h1 {
    font-size: 1.2em;
}
h3{
    font-size: 0.8em;
    font-weight: normal;
}

/*formulaire de recherche*/

.search {
    background-color: #F2F2F2;
    display: flex;
    border-radius: 15px;
    width: 400px;
    margin: 30px 0 30px 0;
}
.fa-map-marker-alt {
    padding: 20px;
}
.btn {
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 20px;
}
.btn i {
    display: none;
}
#destination {
    width: 300px;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 10px;
    border: 1px solid #F2F2F2;
}

/*filtres*/

.filters {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.filter_link {
    display: flex;
}
.filter {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    height: 40px;
    margin-left: 20px;
}
.filter_text {
    padding: 10px;
}
.filter i {
    background-color: #DEEBFF;
    border-radius: 50px;
    margin-left: -2px;
    color: #0065FC;
}
.fa-child {
    padding: 13px 15px 13px 15px;
}
.fa-money-bill-wave {
    padding: 13px 11px 13px 11px;
}
.fa-heart, .fa-dog {
    padding: 13px;
}
.filter:hover {
    color: #0065FC;
    border: 2px solid #DEEBFF;
    box-shadow: 1px 1px 4px gray;
    background-color: #DEEBFF;
}

/*phrase d'information*/

.phrase_info {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}
.fa-info {
    font-size: 0.6em;
    color: #0065FC;
    margin-right: 10px;
    border: 1px solid #F2F2F2;
    padding: 3px 6px 3px 6px;
    border-radius: 50%;
}

/*carte hébergements à Marseille*/

#hébergements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
h2 {
    font-size: 1.4em;
    font-weight: bold;
}
.bloc_hebergements{
    display: flex;
    justify-content: space-around;
}
.marseille {
    width: 64%;
}
.populaires , .marseille , .hebergement_title {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
}
.plus {
    font-size: 1.2em;
    padding-left: 25px;
    font-weight: bold;
}
.link {
    border: 4px solid white;
    border-radius: 20px;
    width: 28%;
    height: 180px;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px rgb(224, 224, 224);
}
.info {
    position: absolute;
    background: white;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    line-height: 0.5px;
    font-size: 0.8em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
}
.info i {
    font-size: 0.8em;
    color: #0065FC;
}
.info h4 {
    font-weight: bold;
    font-size: 1.1em;
}
.cannebieres {
    background: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
}
.port {
    background: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: contain;
}
.mouettes {
    background: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: contain;
}
.mer {
    background: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}
.panier {
    background: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
.amina {
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}
.link:hover {
    -webkit-filter: grayscale(100%);
}
.info h4 , .info p {
    padding-left: 10px;
}

/*carte les plus populaires*/

.populaires {
    width: 28%;
}
.populaires a {
    text-decoration: none;
}
.en-tete_populaire {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}
.en-tete_populaire h2 , .fa-chart-line {
    font-size: 1.4em;
    padding-bottom: 15px;
}
.en-tete_populaire , .pop_link {
    width: 90%;
    margin: auto;
}
.pop_link {
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 4px gray;
    display: flex;
    margin-bottom: 25px;
}
.img_pop {  
    width: 140px;
    height: 130px;
    border-radius: 20px 0 0 20px;
}
.pop_info {
    width: 215px;
    background-color: white;
    color: black;
    padding-left: 15px;
    border-radius: 0 15px 15px 0;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pop_star {
    padding-bottom: 10px;
}
.pop_info p {
    margin-top: 5px;
}
.pop_info h4 , .pop_info p {
    margin-bottom: 0px;
}
.pop_info h4 {
    margin-top: 10px;
    font-size: 1.1em;
}
.img_pop_soleil {
    background: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
}
.img_pop_coeur {
    background: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
}
.img_pop_bleu {
    background: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}
.pop_info i {
    font-size: 0.8em;
    color: #0065FC;
}
.pop_link:hover {
    -webkit-filter: grayscale(100%);
}
.link:hover , .pop_link:hover {
    box-shadow: none;
}

/* Carte activités à Marseille*/

.carte_activités {
    display: flex;
    justify-content: space-between;
}
.activités_grand_format , .bloc_petit_format {
    border-radius: 20px;
    position: relative;
    width: 23%;
}
.activités_grand_format {
    height: 400px;
    margin-right: 20px;
    box-shadow: 2px 2px 5px rgb(224, 224, 224);
}
.vieux {
    background: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
}
.calanques {
    background: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 20px;
}
.bannière {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 40px;
    font-size: 0.8em;
    font-weight: bold;
    margin: auto;
    color: black;
    padding-top: 20px;
    border-radius: 0 0 20px 20px;
}
.activités_petit_format {
    border-radius: 20px;
    display: block;
    position: relative;
    box-shadow: 2px 2px 5px rgb(224, 224, 224);
}
.activités_grand_format:hover ,
.activités_petit_format:hover {
    -webkit-filter: grayscale(100%);
    box-shadow: none;
}
.pomègues {
    background: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 225px;
}
.frioul {
    background: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    height: 150px;
    margin-top: 25px;
}
.notre_dame {
    background: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    height: 187px;
}
.longchamp {
    background: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    height: 187px;
    margin-top: 25px;
}
.activités_description {
    padding-left: 15px;
}

/*Footer*/

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #F2F2F2;
}
footer div {
    width: 20%;
    margin-right: 4.5em;
    margin-left: 4.5em;
}
footer h4 {
    margin-top: 2em;
}
footer h4 , footer a {
    color: black;
}
footer a {
    text-decoration: none;
    font-size: 0.9em;
}
footer a:hover {
    color: #0065FC;
    text-decoration: underline;
}

/* media queries*/

@media all and (max-width : 480px) {
    
    .bloc_page {
        width: 100%;
    }
    h1 {
        font-size: 1.2em;
    }
    h2, h3 {
        font-size: 0.8em;
    }
    .en_tete {
        flex-wrap: wrap;
    }
    .logo {
        margin-left: 20px;
    }
    .inscription {
        margin-top: 20px;
    }
    nav {
        width: 100%;
    }
    nav li {
        width: 50%;
        padding-bottom: 20px;
        border-bottom: 2px solid #F2F2F2;
    }
    nav li:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
    nav ul {
        padding-left: 0;
        text-align: center;
    }
    nav a {
        margin-right: 0;
    }
    ul :nth-child(3) {
        position: absolute;
        top: 0;
        right: 0;
        border-bottom: none;
        text-align: right;
        padding-right: 20px;
        padding-top: 20px;
        font-size: 1.1em;
    }
    ul :nth-child(3):hover {
        border-bottom: none;
        font-style: italic;
    }
    .consigne,
    .search,
    .filters,
    .phrase_info{
        width: 90%;
        margin: auto;
    }
    .search {
        width: 300px;
    }
    .btn {
        font-size: 1em;
        border-radius: 15px 15px;
        padding: 20px;
        margin-left: -20px;
    }
    #destination {
        font-size: 0.9em;
        padding-left: 25px;
        width: 300px;
    }
    .btn span {
        display: none;
    }
    .btn i {
        display: contents;
    }
    .filters {
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.9em;
    }
    .filter_link {
        flex-wrap: wrap;
    }
    .filter {
        margin: 0 10px 10px 0;
    }
    .phrase_info {
        align-items: flex-start;
    }
    .phrase_info i {
        margin-top: 12px;
    }
    .phrase_info p {
        font-size: 0.8em;
    }
    #hébergements {
        margin-bottom: 0;
    }
    #hébergements , .bloc_hebergements{
        flex-direction: column-reverse;
    }
    .populaires , .marseille , .hebergement_title {
        padding: 0px;
        border-radius: 0px;
    }
    .pop_link, .en-tete_populaire {
        width: 85%;
    }
    .marseille {
        background-color: white;
        width: 95%;
        margin: auto;
    }
    .hebergement_title, .activités_title {
        background-color: white;
        padding-top: 10px;
        font-size: 1.4em;
    }
    .populaires {
        width: 100%;
    }
    .pop_info {
        font-size: 1em;
        border-radius: 0 10px 10px 0;
    }
    .pop_info h4 {
        margin-top: 7px;
    }
    .pop_star {
        padding-bottom: 5px;
    }
    .pop_link {
        border: 6px solid white;
    }
    .link {
        height: 220px;
        width: 85%;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 20px;
        border: 6px solid white;
    }
    .info {
        height: 90px;
        font-size: 1.1em;
        border-radius: 0 0 10px 10px;
    }
    .plus {
        font-weight: bold;
    }
    .activités_title {
        padding-left: 30px;
    }
    .carte_activités {
        flex-direction: column;
    }
    .calanques {
        margin-left: 0px;
    }
    .activités_grand_format {
        width: 85%;
        height: 200px;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    .bloc_petit_format {
        width: 85%;
        margin: auto;
    }
    .activités_petit_format{
        height: 200px;
        margin-bottom: 20px;
    }
    .activités_description {
        font-size: 1.4em;
    }
    .frioul, .longchamp {
        margin-top: 0px;
    }
    footer {
        flex-direction: column;
    }
    footer div {
        width: 100%;
        margin-left: 0;
    }
    footer h4 {
        font-size: 1.4em;
    }
    footer h4, footer p {
        padding-left: 20px;
    }
}

@media all and (min-width : 426px) and (max-width : 1023px) {
    
    nav li {
      font-size: 0.6em;
  }
    h1 {
        font-size: 1.4em;
        text-align: center;
    }
    h3 {
        font-size: 1.2em;
        text-align: center;
    }
    .search {
        margin: auto;
        margin-bottom: 20px;
    }
    #destination {
        font-size: 1.2em;
        text-align: center;
    }
    .btn span {
        display: none;
    }
    .btn i {
        display: contents;
    }
    .filters {
        flex-direction: column;
        border: 2px solid #F2F2F2;
        border-radius: 20px;
        width: 90%;
        margin: auto;
    }
    .filters_title {
        font-size: 1.4em;
    }
    .filter_link {
        flex-wrap: wrap;
        background-color: #F2F2F2;
        border-radius: 0 0 20px 20px;
        width: 100%;
    }
    .filter_text {
        padding: 0 15px 0 10px
    }
    .filter {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .phrase_info {
        font-size: 1.1em;
        justify-content: flex-end;
    }
    #hébergements {
        flex-direction: column-reverse;
    }
    .populaires {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .pop_link{
        width: 40%;
    }
    .pop_link_bleu {
        width: 90%;
    }
    .pop_info {
        width: 60%;
        font-size: 0.8em;
    }
    .pop_info_bleu {
        font-size: 1.1em;
    }
    .img_pop {
        width: 40%;
        background-position: center;
    }
    .populaires, .marseille {
        padding: 0px;
    }
    .marseille {
        width: 100%;
        background: none;
    }
    .link {
        height: 150px;
    }
    .info {
        height: 60px;
        font-size: 0.6em;
    }
    .carte_activités {
        flex-wrap: wrap;
    }
    .activités_grand_format {
        width: 45%;
    }
    .bloc_petit_format {
        width: 45%;
    }
    .activités_title, .hebergement_title {
        font-size: 1.2em;
        text-align: center;
    }
    .activités_title {
        padding: 15px;
        border-radius: 15px;
        background-color: #F2F2F2;
    }
    .plus {
        font-size: 1.2em;
    }
    .activités_grand_format, .bloc_petit_format {
        margin: auto;
    }
    .longchamp, .frioul {
        margin-top: 20px;
    }
    .calanques {
        margin-top: 25px;
    }
    .frioul {
        height: 155px;
    }
    .notre_dame {
        margin-top: 12px;
        background-position: center;
    }
    .longchamp {
        background-position: center;
        height: 193px;
    }
    footer div {
        margin-right: 0px;
        margin-left: 2em;
        flex-wrap: wrap;
    }

}
