/*modif générale de la page*/

.bloc_page {
    width: 90%;
    margin: auto;
}

/*police personnalisée pour l'ensemble de la page*/

body{
    font-family: 'Raleway', sans-serif;
}

/*en-tete*/

.en_tete {
    display: flex;
    justify-content: space-between;
}
.nav ul {
    display: flex;
    list-style-type: none;
}
.nav a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 0.7em;
    padding-top: 27px;
    color: gray;
}
.nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.inscription a {
    color: #0065FC;
    font-weight: bold;
}
h1 {
    font-weight: bold;
    font-size: 1.1em;
}
h3{
    font-size: 0.8em;
    font-weight: normal;
}

/*formulaire de recherche*/

.search {
    background-color: #F2F2F2;
    display: flex;
    border-radius: 15px;
    height: 40px;
    width: 350px;
}
.fa-map-marker-alt {
    padding: 10px 15px 10px 15px;
}
.btn {
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 10px 30px 10px 20px;
}
#destination {
    width: 200px;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 10px;
    border: 1px solid #F2F2F2;
}

/*filtres*/

.filters {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.filter_link {
    display: flex;
}
.filter {
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    height: 35px;
    margin-left: 25px;
}
.filter_text {
    padding: 0 30px 0 20px;
}
.fa-money-bill-wave {
    background-color: #DEEBFF;
    border-radius: 20px;
    padding: 11px 9px 11px 9px;
    margin-left: -1px;
    color: #0065FC;
}
.fa-child {
    background-color: #DEEBFF;
    border-radius: 20px;
    padding: 11px 13px 11px 13px;
    margin-left: -1px;
    color: #0065FC;
}
.fa-heart , .fa-dog {
    background-color: #DEEBFF;
    border-radius: 20px;
    padding: 11px;
    margin-left: -1px;
    color: #0065FC;
}
.filter:hover {
    color: #0065FC;
    border: 1px solid #DEEBFF;
    box-shadow: 1px 1px 4px gray;
    background-color: #DEEBFF;
}

/*phrase d'information*/

.phrase_info {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}
.fa-info-circle {
    font-size: 1.2em;
    background-color: #0065FC;
    color: white;
    border-radius: 100%;
    margin-right: 10px;
}

/*carte hébergements à Marseille*/

h2 {
    font-size: 0.9em;
    font-weight: bold;
}
#hébergements , .bloc_hebergements{
    display: flex;
    justify-content: space-between;
}
.marseille {
    width: 60%;
}
.populaires , .marseille , .hebergement_title {
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 15px;
}
.plus {
    font-size: 0.8em;
    padding-left: 20px;
}
.link {
    border: 4px solid white;
    border-radius: 10px;
    display: block;
    width: 28%;
    height: 150px;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px gray;
}
.info {
    position: absolute;
    background: white;
    bottom: 0;
    width: 100%;
    margin: auto;
    height: 50px;
    line-height: 2px;
    font-size: 0.5em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
}
.info i {
    font-size: 0.8em;
    color: #0065FC;
}
.info h4 {
    font-weight: bold;
    font-size: 1.2em;
}
.cannebieres {
    background: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
}
.cannebieres:hover {
    -webkit-filter: grayscale(100%);
    background-size: contain;
}
.port {
    background: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: cover;
}
.port:hover {
    -webkit-filter: grayscale(100%);
    background-size: contain;
}
.mouettes {
    background: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: contain;
}
.mouettes:hover {
    -webkit-filter: grayscale(100%);
    background-size: cover;
}
.mer {
    background: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}
.mer:hover {
    -webkit-filter: grayscale(100%);
    background-position: center;
}
.panier {
    background: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
}
.panier:hover {
    -webkit-filter: grayscale(100%);
    background-size: cover;
    background-position: top;
}
.amina {
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}
.amina:hover {
    -webkit-filter: grayscale(100%);
    background-position: center;
}
.info h4 , .info p {
    padding-left: 10px;
}

/*carte les plus populaires*/

.populaires {
    width: 30%;
}
.en-tete_populaire {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.en-tete_populaire , .pop_link {
    width: 85%;
    margin: auto;
}
.pop_link {
    border: 4px solid white;
    border-radius: 10px;
    display: block;
    width: 85%;
    height: 100px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px gray;
}
.pop_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    position: absolute;
    background: white;
    top: 0;
    bottom: 0;
    right: 0;
    line-height: 4px;
    font-size: 0.6em;
    color: black;
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
}
.pop_info i {
    font-size: 0.8em;
    color: #0065FC;
}
.pop_star {
    margin-bottom: 10px;
}
.soleil {
    background: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
}
.soleil:hover {
    -webkit-filter: grayscale(100%);
    background-size: cover;
    background-position: center;
}
.coeur {
    background: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: contain;
}
.coeur:hover {
    -webkit-filter: grayscale(100%);
    background-size: cover;
    background-position: center;
}
.bleu {
    background: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
.bleu:hover {
    -webkit-filter: grayscale(100%);
    background-size: auto;
}
.link:hover , .pop_link:hover {
    box-shadow: none;
    border: 4px solid white;

}

/* Carte activités à Marseille*/

.carte_activités {
    display: flex;
}
.activités_grand_format , .bloc_petit_format {
    border-radius: 10px;
    height: 300px;
    position: relative;
    width: 25%;
}
.activités_grand_format {
    box-shadow: 1px 1px 4px gray;
    margin-right: 20px;
}
.vieux {
    background: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
    background-position: left;
}
.vieux:hover {
    -webkit-filter: grayscale(100%);
    background-position: center;
}
.calanques {
    background: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 20px;
}
.calanques:hover {
    -webkit-filter: grayscale(100%);
    background-position: right;
}
.bannière {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 30px;
    font-size: 0.7em;
    font-weight: bold;
    margin: auto;
    border-radius: 0 0 10px 10px;
    color: black;
    padding-top: 10px;
}
.activités_petit_format {
    border-radius: 10px;
    display: block;
    height: 140px;
    position: relative;
    box-shadow: 1px 1px 4px gray;
}
.pomègues {
    background: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
}
.pomègues:hover {
    -webkit-filter: grayscale(100%);
    background-position: bottom;
}
.frioul {
    background: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    height: 125px;
    margin-top: 25px;
}
.frioul:hover {
    -webkit-filter: grayscale(100%);
    background-position: center;
}
.notre_dame {
    background: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    height: 135px;
}
.notre_dame:hover {
    -webkit-filter: grayscale(100%);
    background-position: bottom;
}
.longchamp {
    background: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    height: 140px;
    margin-top: 25px;
}
.longchamp:hover {
    -webkit-filter: grayscale(100%);
    background-position: top;
}
.activités_description {
    padding-left: 10px;
}

/*Footer*/

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #F2F2F2;
}
footer div {
    width: 20%;
    margin-right: 4.5em;
    margin-left: 4em;
}
footer h4 {
    margin-top: 2em;
}
footer h4 , footer a {
    color: black;
}
footer a {
    text-decoration: none;
    font-size: 0.7em;
}
footer a:hover {
    color: #0065FC;
    text-decoration: underline;
}

/* media queries*/

@media all and (max-device-width : 480px) {
    .bloc_page {
    width: 100%;
    margin: auto;
    }
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 1em;
    }
    .en_tete {
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .nav {
        width: 100%;
        padding-top: 30px;
    }
    .nav li {
        width: 50%;
        padding-bottom: 20px;
        border-bottom: 2px solid #F2F2F2;
    }
    nav ul {
        padding-left: 0;
        text-align: center;
    }
    .nav a {
        padding-bottom: 20px;
        margin-right: 0;
        font-size: 1.2em;
    }
    .nav a:hover {
        border-top: none;
    }
    .nav li:hover {
        border-bottom: 2px solid #0065FC;
    }
    ul :nth-child(3) {
        position: absolute;
        top: 0;
        right: 0;
        border-bottom: none;
        text-align: right;
        padding-right: 20px;
        padding-top: 20px;
        font-size: 1.2em;
    }
    ul :nth-child(3):hover {
        border-bottom: none;
        font-style: italic;
    }
    .search {
        width: 350px;
        margin: auto;
    }
    .btn {
        font-size: 0.8em;
        text-decoration: none;
        width: 60px;
        padding: 12px 30px 10px 15px;
    }
    #destination {
        font-size: 0.9em;
    }
    .filters {
        flex-direction: column;
        align-items: flex-start;
    }
    .filter_link {
        flex-wrap: wrap;
    }
    .filter {
        margin: 0 10px 10px 0;
    }
    .filter_text {
        padding: 0 10px 0 5px;
    }
    #hébergements , .bloc_hebergements{
        flex-direction: column-reverse;
    }
    .populaires , .marseille , .hebergement_title {
        padding: 0px;
        border-radius: 0px;
    }
    .marseille {
        background-color: white;
    }
    .hebergement_title, .activités_title {
        background-color: white;
        padding: 20px 0 20px 30px;

    }
    .marseille {
        width: 100%;
    }
    .populaires {
        width: 100%;
    }
    .pop_link {
        height: 150px;
        border-radius: 20px;
        border: 6px solid white;
    }
    .pop_info {
        font-size: 0.8em;
        border-radius: 0 10px 10px 0;
    }
    .link {
        height: 200px;
        width: 85%;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 20px;
        border: 6px solid white;
    }
    .info {
        height: 80px;
        font-size: 0.8em;
        border-radius: 0 0 10px 10px;
    }
    .plus {
        font-size: 1em;
        margin-left: 15px;
        font-weight: bold;
    }
    .carte_activités {
        display: flex;
        flex-direction: column;
    }
    .calanques {
        margin-left: 0px;
    }
    .activités_grand_format {
        width: 85%;
        height: 200px;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    .bloc_petit_format {
        width: 85%;
        margin: auto;
        height: auto;
    }
    .activités_petit_format{
        height: 200px;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    .bannière {
        border-radius: 0 0 20px 20px;
        height: 40px;
        padding-top: 20px;
    }
    .activités_description {
        font-size: 1.4em;
    }
    .frioul, .longchamp {
        margin-top: 0px;
    }
    footer {
        flex-direction: column;
    }
    footer div {
        width: 100%;
        margin-left: 0;
    }
    footer h4 {
        font-size: 1.4em;
    }
    footer a {
        text-decoration: none;
        font-size: 1em;
    }
    footer h4, footer p {
        padding-left: 20px;
    }
}
@media all and (min-width : 426px) and (max-width : 1023px) {
    
    .bloc_page {
        width: 100%;
    }
    .nav {
        font-size: 1.2em;
    }
    h1 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.2em;
    }
    .search {
        margin: auto;
        margin-bottom: 20px;
        width: 500px;
    }
    #destination {
        width: 400px;
        font-size: 1.2em;
        text-align: center;
    }
    #hébergements {
        flex-direction: column-reverse;
    }
    .filter_text {
        padding: 0 15px 0 10px
    }
    .phrase_info {
        font-size: 0.8em;
        justify-content: flex-end;
    }
    .populaires {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .en-tete_populaire {
        width: 90%;
    }
    .pop_link{
        width: 40%;
        margin-bottom: 20px;
    }
    .pop_info {
        width: 30%;
        font-size: 0.8em;
    }
    .soleil {
        background-position: right;
        width: 90%;
    }
    .info_soleil {
        width: 40%;
        font-size: 1em;
    }
    .coeur {
        background-size: cover;
        background-position: center;
    }
    .bleu {
        background-size: auto;
    }
    .info_coeur_bleu {
        width: 40%;
    }
    .populaires, .marseille {
        padding: 0px;
    }
    .marseille {
        width: 100%;
        background: none;
    }
    .bloc_hebergements {
        justify-content: space-around;
    }
    .info {
        height: 60px;
        font-size: 0.6em;
    }
    .carte_activités {
        flex-wrap: wrap;
    }
    .activités_grand_format {
        width: 45%;
    }
    .bloc_petit_format {
        width: 45%;
    }
    .nav a:hover {
        border-top: none;
        color: #0065FC;
    }
    .activités_title, .hebergement_title {
        font-size: 1.2em;
        text-align: center;
    }
    .activités_title {
        padding: 15px;
        border-radius: 15px;
        background-color: #F2F2F2;
    }
    .plus {
        font-size: 1.2em;
    }
    .activités_grand_format, .bloc_petit_format {
        margin: auto;
    }
    .pomègues, .frioul, .notre_dame, .longchamp {
        height: 140px;
    }
    .longchamp, .frioul {
        margin-top: 20px;
    }
    .calanques {
        margin-top: 25px;
    }
    .notre_dame {
        margin-top: 12px;
        background-position: center;
    }
    .longchamp {
        background-position: center;
    }
    .longchamp:hover {
        background-position: bottom;
    }

}
